/* Element Selectors */
body {
    background-color: white;
	padding: 5px;
}
h1 {
    color: black;
	font-size: 32px;
}
h2 {
	color: black;
	font-size: : 20px;
}

/* Class Selectors */
.site-header {
	text-align: center;
	margin: auto;
	background-color: black;
	padding: 5px;
}
.site-titles {
	font-style: normal;
	font-family: sans-serif;
	color: grey;
}

.center {
	padding: 5px;
	width: 1000px;
    margin: auto;
}

/* ID Selectors */
