/* Element Selectors */
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	font-family: 'Lato', arial, sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
}


/* Class Selectors */
/* Banner (Left hand side) */
.banner {
    position: fixed;
	float: left;
    width: 25%;
    height: 100%;

	background-color: black;
}
.banner .information {
    position: absolute;
	width: calc(100% - 50px);
    top: 25px;
    left: 25px;
}
.banner .information img {
    float: left;
    border-radius: 25%;
    width: 20%;
}
.banner .information .about {
	float: right;
    width: 80%;
}
.banner .information .about h1 {
	float: left;
	width: 100%;
	margin: 0;
	padding-left: 10px;

	color: #fff;
	font-size: 32px;
}
.banner .information .about p {
	float: left;
	width: calc(100% - 25px);
	margin: 0;
    padding-left: 10px;

	font-size: 18px;
	color: rgb(220, 220, 220);
	text-align: justify-all;
}

.banner .socials {
    width: auto;
    height: auto;
	background-color: white;
}
.banner .socials a {
    width: 64px;
    height: 64px;
}

/* Portfolio content (Right hand side)*/
.content {
	position: relative;
	float: right;
	width: 75%;
	min-height: 100%;

	overflow-x: hidden;
	overflow: visible;
}
.content .portfolio {
	position: absolute;
	float: left;
	left: 0;
	width: 100%;
	min-height: 100%;

	overflow-y: visible;
}
.content .portfolio .region {
	float: left;
	width: 100%;
	padding: 0px 40px 60px 40px;

	box-sizing: border-box;
}
.content .portfolio .region h1 {
	color: black;
}
.content .portfolio .region p {
	float: left;
	width: 100%;
	margin: 0px 0px 16px 0px;

	color: black;
}

/*Item containers and items*/
.content .portfolio .region .itemcontainer {
	position: relative;
	margin: 0% 1% 1% 0%;
	float: left;
	overflow: hidden;
}
.content .portfolio .region .itemcontainer .item {
	background: black;
	position: relative;
	height: 200px;
	margin: 0% 1% 1% 0%;
	float: left;

	cursor: pointer;
	overflow: hidden;
}
.content .portfolio .region .itemcontainer .item .background {
	left: 0;
	top: 0;
	height: 100%;
	min-width: 300px;

	background-size: cover;

	transition: opacity 0.2s, transform 0.2s;
}
.content .portfolio .region .itemcontainer .item h2 {
	max-width: 300px;

	text-align: center;
	color: white;

	opacity: 0;

	transition: opacity 0.2s, transform 0.2s;
}
/* Mouse Over of the portfolio items */
.content .portfolio .region .itemcontainer .item:hover .background {
	opacity: 0.30;
	transform: scale(1.25, 1.25);
}
.content .portfolio .region .itemcontainer .item:hover h2 {
	opacity: 1;
	transform: translate(0, -140px);
}

/* Portfolio footer */
.content .portfolio .footer {
	float: left;
	min-height: 150px;
	width: 100%;
	padding: 50px 0px 0px 0px;
	margin: 0;

	background: rgb(40, 40, 40);
}
.content .portfolio .footer h2 {
	padding: 0;
	margin: 0;

	text-align: center;
	font-size: 18px;
	color: white;
}
.content .portfolio .footer a {
	text-decoration-style: none;
	color: inherit;
}


/* ID Selectors */

/* Resolution Resizing */
@media(max-width: 900px) {
	.banner {
		position: relative;
		width: 100%;
		height: 150px; }
	.content {
		position: relative;
		width: 100%; }
}
@media(max-width: 600px) {
	.banner .information img {
		display: none; }
	.banner .information .about  {
		width: 100%; }
}
@media(max-width: 1200px) and (min-width: 900px) {
	.banner .information img {
		display: none;
	}
	.banner .information .about  {
		width: 100%;
	}
}
